* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -----------------------------------------------------------------------------------> PAGINA 1 */

.cajaprincipal {
  /*Esta etiqueta se aplica para todas las paginas (1,2 y 3)*/
  width: 100%;
  height: 100%;
}

.fondo1 {
  width: 100%;
  height: 800px;
  background-image: url("img/Pagina1/fon\ 1\ pag\ 1\ final.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

#LogoMusIn {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-left: 20px;
  margin-top: 20px;
  position: fixed;
  cursor: pointer;
 
}

#LogMusIn a:hover {
  transform: translateY(-3px) scale(1.05);
  transition: 0.2s;
}

.opciones{
  display: flex;
  width: 33%;
  height: 90px;
  float: right;
  margin-top: 40px;
}

.nav_links  li{
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}


.nav_hamburger,
.nav_close{
  display: none;
  visibility: hidden;

}




#BLanzamientos {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 20pt;
  font-family: "Gill Sans MT", sans-serif;
  cursor: pointer;
}

#BEventos {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin-left: 5%;
  font-size: 20pt;
  font-family: "Gill Sans MT", sans-serif;
  cursor: pointer;
}

.opciones a:hover {
  transform: translateY(-3px) scale(1.05);
  transition: 0.2s;
  text-shadow: 10px 10px 4px rgba(205, 110, 217, 0.5);
}

.biografia {
  /* background-color: rgb(185, 185, 185, 0.5); */
  width: 500px;
  height: 500px;
  float: right;
  margin-left: 55%;
  margin-right: 100px;
  border-radius: 10px;
  max-width: 600px;
}

.biografia h1 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: "Gill Sans MT", sans-serif;
  font-size: 30pt;
}

.biografia p {
  color: rgb(255, 255, 255);
  letter-spacing: 1.25px;
  /* text-align:justify; */
  font-family: "Gill Sans MT", sans-serif;
  font-size: 20pt;
  margin: 10px 20px 20px 20px;
}

.fondo2 {
  background-color: seagreen;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  width: 100%;
  height: 800px;
  /* padding-top: 200px; */
}

.flier {
  padding-top: 120px;
  border-radius: 15px;
  margin-left: 15%;
  width: 70%;
  height: 500px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flier img {
  border-radius: 15px;
  width: 850px;
  height: 500px;
}

.text-flier {
  width: 850px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.245);
  display: flex;
  align-content: center;
  justify-content: center;
}

.text-flier p {
  color: black;
  font-family: "Gill Sans MT", sans-serif;
  font-size: 18pt;
  text-align: start;
}

.fondo3 {
  background-color: #000000;
  width: 100%;
  height: 500px;
  padding: 50px 0px 50px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.contactos {
  width: 100%;
  height: 90px;
  margin: 50px 0px 50px 0px;
}

.contactos h1 {
  color: rgb(255, 255, 255);
  height: 90px;
  font-family: "Gill Sans MT", sans-serif;
  font-weight: bolder;
  font-size: 60pt;
  text-align: center;
  align-items: center;
  justify-content: center;
}

:root {
  --facebook: #2c34a8;
  --instagram: #e2687f;
  --whatsapp: #2dc346;
}

.Redessociales {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Redessociales ul li {
  display: inline-block;
  margin: 0 30px;
  width: 140px;
  height: 140px;
  text-align: center;
}

.Redessociales ul li a {
  display: block;
  background: #ffffff;
  color: #222222;
  line-height: 140px;
  font-size: 60px;
  box-shadow: -10px 7px 25px 0px rgb(97, 237, 79);
  transition: 0.2s;
  border-radius: 50%;
}

.Redessociales ul:hover a {
  filter: blur(1px);
}

.Redessociales ul li a:hover {
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
  filter: none;
}

.Redessociales ul li .facebook:hover {
  background: var(--facebook);
}
.Redessociales ul li .instagram:hover {
  background: var(--instagram);
}

.Redessociales ul li .whatsapp:hover {
  background: var(--whatsapp);
}

/* -----------------------------------------------------------------------------------> PAGINA 2 */

.fondo4 {
  width: auto;
  height: 800px;
  background: url(img/Pagina2/fon\ 1\ pag\ 2.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}



#BLanzamientos2 {
  
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 20pt;
  font-family: 'Gill Sans MT', sans-serif;
  cursor: pointer;

}


#BEventos2 {
  
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 20pt;
  font-family: "Gill Sans MT", sans-serif;
  cursor: pointer;
}

.caja-lanzamiento-principal {
  width: 100%;
  height: 710px;
  float: left;
}

.lan-reciente {
  background-color: rgba(229, 60, 226, 0.195);
  margin-left: 30%;
  margin-top: 60px;
  /* padding-top: 50px; */
  width: 40%;
  height: 80px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lan-reciente h1 {
  color: floralwhite;
  font-size: 32pt;
  font-weight: bold;
  font-family: "Gill Sans MT", sans-serif;
}

.video-lan {
  background-color: rgba(229, 60, 226, 0.195);
  margin-left: 25%;
  margin-top: 60px;
  width: 50%;
  height: 200px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-lan p {
  color: floralwhite;
  font-family: "Gill Sans MT", sans-serif;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 20pt;
  text-align: center;
}

.fondo5 {
  width: 100%;
  height: 1100px;
  background-color: #000000;
}

.caja-lanzamientos1 {
  width: 100%;
  height: 450px;
  padding-top: 50px;
}

.imagen-lanzamiento1 {
  background-image: url("img/Pagina2/caratula\ 1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 2%;
  width: 20%;
  height: 450px;
  border-radius: 10px;
  float: left;
}

.texto-lanzamiento1 {
  background-color: rgba(229, 60, 226, 0.195);
  margin-left: 2%;
  width: 75%;
  height: 450px;
  border-radius: 10px;
  float: left;
}

.texto-lanzamiento1 h1 {
  color: #ffffff;
  font-family: "Gill Sans MT", sans-serif;
  text-align: center;
  font-size: 24pt;
}

.texto-lanzamiento1 h3 {
  color: mediumslateblue;
  font-family: "Gill Sans MT", sans-serif;
  text-align: center;
  justify-content: center;
  font-size: 13pt;
}

.texto-lanzamiento1 #descripcion {
  color: #ffffff;
  font-family: "Gill Sans MT", sans-serif;
  text-align: justify;
  font-size: 12pt;
  margin: 0px 30px 0px 30px;
}

.texto-lanzamiento1 #lista-personas {
  color: #ffffff;
  font-family: "Gill Sans MT", sans-serif;
  text-align: justify;
  font-size: 12pt;
  margin: 20px 30px 0px 25px;
}

.nombres {
  width: 98%;
  height: 230px;
  display: flex;
  align-items: start;
  justify-content: start;
}

.nombres ol {
  list-style-type: square;
  margin-left: 2%;
}

.nombres ol li {
  color: #ffffff;
  font-family: "Gill Sans MT", sans-serif;
  font-size: 12pt;
  margin-top: 10px;
}

.nombres a {
  color: mediumslateblue;
  font-family: "Gill Sans MT", sans-serif;
  font-weight: bold;
}

.caja-lanzamientos2 {
  width: 100%;
  height: 450px;
  padding-top: 50px;
}

.texto-lanzamiento2 {
  background-color: rgba(229, 60, 226, 0.195);
  margin-left: 2%;
  width: 75%;
  height: 450px;
  border-radius: 10px;
  float: left;
}

.texto-lanzamiento2 h1 {
  color: #ffffff;
  font-family: "Gill Sans MT", sans-serif;
  text-align: center;
  justify-content: center;
  font-size: 24pt;
}

.texto-lanzamiento2 h3 {
  color: mediumslateblue;
  font-family: "Gill Sans MT", sans-serif;
  text-align: center;
  justify-content: center;
  font-size: 13pt;
}

.texto-lanzamiento2 #descripcion2 {
  color: #ffffff;
  font-family: "Gill Sans MT", sans-serif;
  text-align: justify;
  font-size: 12pt;
  margin: 0px 30px 0px 30px;
}

.texto-lanzamiento2 #lista-personas2 {
  color: #ffffff;
  font-family: "Gill Sans MT", sans-serif;
  text-align: justify;
  font-size: 12pt;
  margin: 20px 30px 0px 25px;
}

.nombres2 {
  width: 98%;
  height: 230px;
  display: flex;
  align-items: start;
  justify-content: start;
}

.nombres2 ol {
  list-style-type: square;
  margin-left: 2%;
}

.nombres2 ol li {
  color: #ffffff;
}

.nombres2 ol li p {
  color: #ffffff;
  font-family: "Gill Sans MT", sans-serif;
  font-size: 12pt;
}

.nombres2 ol li span {
  color: mediumslateblue;
  font-weight: bold;
  font-family: "Gill Sans MT", sans-serif;
  font-size: 12pt;
}

.imagen-lanzamiento2 {
  background-image: url("img/Pagina2/caratula\ 2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 2%;
  width: 20%;
  height: 450px;
  border-radius: 10px;
  float: left;
}

/* -----------------------------------------------------------------------------------> PAGINA 3 */

.fondo6 {
  height: 610px;
  width: 100%;
  background: url(img/Pagina3/conciertos.jpg);
  background-size: cover;
  background-attachment: fixed;
}

/* #BLanzamientos3 {
  text-decoration: none;
  color: rgb(255, 0, 0);
  font-weight: bold;
  font-size: 20pt;
  font-family: 'Gill Sans MT', sans-serif;
  cursor: pointer;

} */

/* #BEventos3 {
  text-decoration: none;
  color: rgb(255, 0, 0);
  font-weight: bold;
  margin-left: 5%;
  font-size: 20pt;
  font-family: 'Gill Sans MT', sans-serif;
  cursor: pointer;
} */

.box-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(229, 60, 226, 0.195);
}

#boton-evento {
  background-color: #000000;
  color: #ffffff;
  font-size: 18pt;
  font-family: "Gill Sans MT", sans-serif;
  cursor: pointer;
  padding: 15px 20px;
  border-radius: 30px;
  border-width: 2px;
}

.fondo7 {
  width: 100%;
  height: 750px;
  background-color: black;
}

.espacios-noticias {
  width: 100%;
  height: 480px;
  padding: 100px 0px 100px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.espacios-noticias .noticia {
  background: url(img/Pagina3/HIS\ 1.jpg);
  /* background-color: gray; */
  margin-left: 1%;
  width: 320px;
  height: 450px;
  border-radius: 10px;
  float: left;
}

.espacios-noticias .noticia1 {
  background: url(img/Pagina3/HIS\ 2.jpg);
  /* background-color: gray; */
  margin-left: 1%;
  width: 320px;
  height: 450px;
  border-radius: 10px;
  float: left;
}

.espacios-noticias .noticia2 {
  /* background-color: gray; */
  background: url(img/Pagina3/HIS\ 3.jpg);
  margin-left: 1%;
  width: 320px;
  height: 450px;
  border-radius: 10px;
  float: left;
}

.espacios-noticias .noticia3 {
  /* background-color: gray; */
  background: url(img/Pagina3/HIS\ 4.jpg);
  margin-left: 1%;
  width: 320px;
  height: 450px;
  border-radius: 10px;
  float: left;
}

/* -------------------------------> Footer */

.footer1 {
  /*Esta clase se aplica para todas las paginas (1,2 y 3)*/
  background-color: #1c1a1a;
  color: #ffffff;
  font-family: "Gill Sans MT", sans-serif;
  font-size: 12pt;
  width: 100%;
  height: 80px;
  position: absolute;
  text-align: center;
  padding: 30px 0px 0px 0px;
  font-weight: bold;
}

/* media queries */
@media screen and (max-width: 768px) {
  .fondo1 {
    height: 1200px;
    background-color: #000000;
    background-size: 98% 400px;
    background-position: 100px 40px;
    margin: 0 auto;
  }

  #LogoMusIn {
    position: absolute;
  }

  .opciones{
    --state-close:scale(0);
    --state-hamburger:scale(1);
    --state-menu:translate(-100%);

    max-width: 200px;
    width: 200px;
    margin-top: 0;
    margin-left: auto;
    float: none;
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: repeat(2,max-content);
  

}

#nav:target{
  --state-menu:translate(0);
  --state-close:scale(1);
    --state-hamburger:scale(0);
}

.nav_links li{
  
  display: block;

}

  #BLanzamientos {
    
    padding: 10px;
    text-decoration: none;
    font-size: 20pt;
  }

  #BEventos {
    
    padding: 10px;
    text-decoration: none;
    font-size: 20pt;
  }

 
.nav_hamburger,
.nav_close{
  visibility: visible;
  display: block;
 
  cursor: pointer;
  grid-column: -2/-1;
  grid-row: 1/2;
  margin-right: 20px;
  transition: .4s transform;
}



.nav_hamburger{
  transform: var(--state-hamburger);
}

.nav_close{
  transform: var(--state-close);
}
.nav_links{
  /* display:none; */
  background-color: #00000057;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  display: grid;
  align-content: first baseline;
  gap:2em;
  padding-top: 14%;
  padding-left: 5%;
  text-align: end;
  transform: var(--state-menu);
  transition: .3s transform;
}

.nav_icon{

  height: 40px;
  margin-top: 2px;
}



.nav_item{
  display: none;
}


  .biografia {
    float: inline-end;
    margin-left: auto;
    margin-right: auto;

    width: auto;
    height: auto;
    margin-top: 90%;
  }

  .flier {
    padding-top: 120px;
    border-radius: 15px;
    margin-left: 15%;
    width: 70%;
    height: 500px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .flier img {
    border-radius: 15px;
    width: 350px;
    height: 350px;
  }

  .text-flier {
    width: 350px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
  }
  .text-flier p {
    font-size: 15pt;
  }

  .contactos h1 {
    font-size: 40pt;
  }

  .Redessociales ul {
    padding: 0;
  }

  .Redessociales ul li {
    display: inline-block;
    margin: 0 4px;
    width: 6.8rem;
  }

  .Redessociales ul li a {
    font-size: 30px;
  }

}

/* ------------------------------------> Pagina 2 - tel*/
@media screen and (max-width: 768px) {
  .fondo4 {
    height: 700px;
    background-color: #000000;
    background-size: 160% 500px;
    background-position: center;
    margin: 0 auto;
  }


  /* #BEventos2 {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-right: 3px;
    font-size: 16pt;
    padding: 10px;
  } */

  .caja-lanzamiento-principal {
    width: 100%;
    height: 475px;
    float: center;
  }

  .lan-reciente {
    margin: 50px auto;
    height: 60px;
    width: 50%;
  }

  .lan-reciente h1 {
    color: floralwhite;
    font-size: 25pt;
    font-weight: bold;
    font-family: "Gill Sans MT", sans-serif;
  }

  .video-lan {
    background-color: rgba(229, 60, 226, 0.195);
    margin: 50px auto auto 25%;
    width: 50%;
    height: 250px;
  }

  .video-lan p {
    margin: 20px 20px 20px 20px;
    font-size: 16pt;
    text-align: center;
  }

  .fondo5 {
    width: 100%;
    height: 2130px;
    background-color: #000000;
  }

  .caja-lanzamientos1 {
    width: 100%;
    height: 1040px;
    padding-top: 50px;

  }

  .imagen-lanzamiento1 {
    background-size: 100%;
    width: 60%;
    height: 350px;
    display: flex;
    flex-direction: column;
    margin: 0px 20% 0px 20%;

  }

  .texto-lanzamiento1 {
    width: 90%;
    height: 600px;
    margin: 10px 5% 5% 5%;
    float: left;
    display: flex;
    flex-direction: column;

  }

  .caja-lanzamientos2 {
    width: 100%;
    height: 1010px;
    padding-top: 0px;
    display: flex;
    flex-direction: column-reverse;
  }

  .imagen-lanzamiento2 {
    background-size: 100%;
    width: 60%;
    height: 350px;
    margin: 0px 20% 0px 20%;
    display: flex;
    flex-direction: column-reverse;
  }

  .texto-lanzamiento2 {
    width: 90%;
    height: 530px;
    margin: 10px 5% 5% 5%;
    float: left;
    display: flex;
    flex-direction: column;

  }
}
